{{define "profile_edit"}}
{{template "header" .}}

<h1>Profil Bearbeiten</h1>

<br>
<hr>
<h2>Bild</h2>

<img class="img-fluid rounded" src="data:image/jpg;base64,{{.CtlData.ProfilePicture}}"
     alt="Profile Picture"/>

<label>Erlaubt sind jpeg, png und gif (max. 1 MB):</label><br/>
<form class="form-inline" enctype="multipart/form-data" method="POST" action="/profile/picture">
{{ .CSRFField }}
    <div class="input-group">
        <label class="btn btn-outline-primary">
            Bild auswählen
            <input type="file" hidden name="upload_picture" required
                   accept="image/jpeg, image/png, image/gif">
        </label>
    </div>
    <button type="submit" class="btn btn-success" value="speichern">speichern</button>
</form>

<br>
<hr>
<h2>Allgemeine Informationen</h2>
<form method="POST" action="/profile/edit">
{{ .CSRFField }}
    <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">account_circle</i></div>
            </div>
            <input class="form-control" type="text" name="name" id="name" value="{{.CtlData.User.Name}}" required
                   maxlength=100> <br/>
        </div>
    </div>
    <div class="form-group">
        <label for="email">E-Mail</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">email</i></div>
            </div>
            <input class="form-control" type="email" name="email" id="email" value="{{.CtlData.User.Email}}"
                   required
                   maxlength=100> <br/>
        </div>
    </div>
    <div class="form-group">
        <label for="zip_code">Postleitzahl</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">location_city</i></div>
            </div>
            <input class="form-control" type="number" name="zip_code" id="zip_code"
                   value="{{.CtlData.User.ZipCode}}"
                   required maxlength=100> <br/>
        </div>
    </div>
    <button type="submit" class="btn btn-success" value="speichern">speichern</button>
</form>
<br>

<hr>
<h2>Passwort Ändern</h2>
<form method="POST" action="/profile/edit/password">
{{ .CSRFField }}
    <div class="form-group">
        <label for="cur_password">Aktuelles Password</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">vpn_key</i></div>
            </div>
            <input class="form-control" type="password" name="cur_password" id="cur_password" required minlength=8
                   maxlength=100>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password">Neues Password</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">vpn_key</i></div>
            </div>
            <input class="form-control" type="password" name="new_password" id="new_password" required minlength=8
                   maxlength=100>
        </div>
    </div>
    <button type="submit" class="btn btn-success" value="speichern">speichern</button>
</form>
<br>

<hr>
<h2>Konto dauerhaft löschen</h2>
<form method="POST" action="/profile/delete">
{{ .CSRFField }}
    <button type="submit" value="löschen" class="btn btn-outline-danger">
        <i class="material-icons">delete</i> löschen
    </button>
</form>
{{template "footer" .}}
{{end}}
