{{define "user_profile"}}
{{template "header" .}}
<h1>Settings</h1>
<br>
<h2><i class="fa fa-user-circle" aria-hidden="true"></i>Profile</h2>
<form method="GET" action="/profile/edit" style="display: inline;">
    <button type="submit" class="btn btn-outline-primary" type="submit" value="edit">
        <i class="fa fa-edit" aria-hidden="true"></i> edit
    </button>
</form>
<br><br>
<form method="POST" action="/logout">
{{ .CSRFField }}
    <button type="submit" type="submit" class="btn btn-outline-danger" value=" logout">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> logout
    </button>
</form>
{{template "footer" .}}
{{end}}
