{{define "footer"}}
</div> <!-- /.start template -->
</main><!-- /.container -->
</body>

<footer class="footer">
    <div class="container">
        <span class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-muted" href="/contact">Contact</a></li>
                <li class="list-inline-item"><a class="text-muted" href="/privacy">Privacy Policy</a></li>
                <li class="list-inline-item"><a class="text-muted" href="/imprint">Imprint</a></li>
            </ul>
        </span>
    </div>
</footer>

</html>
{{end}}
