{{define "index"}}
{{template "header" .}}

<script>
    window.limit = 10;
    window.offset = 0;
    window.url = "/post/latest?{{.CtlData.UrlQuery}}"
</script>

<script src="/static/js/load_more.js"></script>

<h1>Write a new post</h1>

<form method="POST" action="/post/new">
{{ .CSRFField }}
    <input type="text" name="text" style="width:85%" required autocomplete="off" maxlength=280>
    <input type="submit" class="btn btn-outline-success" value="Post">
</form>
<hr>

<h1>Latest Posts</h1>

{{template "posts_list" .}}
<br>
<span class="badge badge-secondary" id="txt-no_more">No more posts found</span>
<br>
<button id="btn-more" type="button" class="btn btn-outline-info" onclick="loadMore()">Load more posts</button>
{{template "footer" .}}
{{end}}